{% extends 'base.html' %}
{% block titulo %}
    Login
{% endblock %}

{% block contenido %}

<div class="content">
        
                <h1>Login</h1>

                <form  method="post"></form>
                <input type="email" name="email"> 
                <input type="password" name="password"> 

                <button class="btn btn-info" type="submit"> Ingresar</button>
                <a class="btn btn-dark" href="{{url_for('createUser') }}">Crear usuario</a>
               

{% endblock  %}


